/*
-----------------------------------------------
bepress IR local stylesheet.
Author:   Lani Goto
Version:  Aug 2015
PLEASE SAVE THIS FILE LOCALLY!
----------------------------------------------- */

#cunyportal {
	margin-top: 23px; }


/* Header */

#cunyportal #header {
	height: 126px; }

#cunyportal #header #logo {
	display: none; }

#cunyportal #header #pagetitle,
#cunyportal #header h1,
#cunyportal #header h1 a {
	width: 980px;
	height: 126px;
	padding: 0;
	margin: 0;
	display: block; }

#cunyportal #header h1 a {
	background: #ffffff url(assets/md5images/4863613f053d476e36f3962acf44dda4.gif) top left no-repeat;
	text-indent: -9999px; }


/* Navigation */

#cunyportal #navigation {
	height: 36px;
	margin-bottom: 45px; }

#cunyportal #navigation #tabs,
#cunyportal #navigation #tabs ul,
#cunyportal #navigation #tabs ul li {
	padding: 0;
	margin: 0; }

#cunyportal #navigation #tabs a {
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	font-weight: normal;
	color: #1d3a83;
	background-color: #e9ebec;
	padding: 0 11px;
	margin: 0;
	margin-top: 10px;
	border: 0;
	border-right: 1px solid #1d3a83;
	float: left; }

#cunyportal #navigation #tabs li#tabfour a { 
	border-right: none; }

#cunyportal #navigation #tabs a:hover,
#cunyportal #navigation #tabs a:active,
#cunyportal #navigation #tabs a:focus {
	color: #000;
	text-decoration: underline; }


/* Sidebar */

#cunyportal #sidebar {
	padding-top: 0; }

#cunyportal #sidebar h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	background-color: transparent;
	padding: 4px 0;
	border-top: 0;
	border-bottom: 0;
	text-indent: 15px; }

#cunyportal #sidebar a, 
#cunyportal #sidebar p.advanced a {
	font-size: 13px;
	font-weight: normal;
	text-decoration: none; }

#cunyportal #sidebar a:hover,
#cunyportal #sidebar a:active,
#cunyportal #sidebar a:focus,
#cunyportal #sidebar p.advanced a:hover,
#cunyportal #sidebar p.advanced a:active,
#cunyportal #sidebar p.advanced a:focus {
	color: #000;
	background-color: transparent;
	text-decoration: underline; }

#cunyportal #sidebar #sidebar-search label {
	font-size: 13px;
	color: #000; }

#cunyportal #sidebar p.advanced + div {
	display: none; }

#cunyportal #sidebar #sidebar-search select {
	width: 146px; }


/* Main Content */

#cunyportal #content {
	background-color: transparent; }

#cunyportal #wrapper {
	background: #fff url(assets/md5images/aa6f99d639c980f86b884a0cac6892eb.gif) top left repeat-y; }

#cunyportal #dcn-home #slideshow { 
	width: 100%;
	margin-bottom: 0; }

#cunyportal #dcn-home h2 {
	font: normal 21px Georgia, "Times New Roman", Times, serif;
	padding-bottom: 5px;
	margin-top: 30px; }

#cunyportal #dcn-home #cover-browse h3 a {
	font: normal 15px Arial, Verdana, Helvetica, sans-serif;
	text-decoration: underline; }

#cunyportal #dcn-home .box.aag h2,
#cunyportal #dcn-home .box.potd h2{
	width: 267px;
	font: normal 16px Georgia, "Times New Roman", Times, serif;
	border-bottom: 1px solid #999; }

#cunyportal #dcn-home .box.aag h2 span.pull-right { 
	display: none; }

#cunyportal #dcn-home .box.aag a,
#cunyportal #dcn-home .box.potd a {
	font-size: 12px;
	border-bottom: 1px solid #999;
	background: none; }

#cunyportal #main.text .box a:link,
#cunyportal #main.text .box a:visited {
	font-size: 12px;
	text-decoration: none; }

#cunyportal #main.text .box a:hover,
#cunyportal #main.text .box a:active,
#cunyportal #main.text .box a:focus {
	text-decoration: underline; }

#cunyportal #main.text a:link,
#cunyportal #main.text a:visited {
	color: #1d3a83;
	text-decoration: underline; }

#cunyportal #main.text a:hover,
#cunyportal #main.text a:active,
#cunyportal #main.text a:focus {
	color: #000;
	text-decoration: underline; }

#cunyportal #main.text #dcn-home #cover-browse {
	margin-bottom: 32px; }

#cunyportal #main.text #cover-browse #cover-browse-left {
	width: 330px;
	float: left; }
	
#cunyportal #main.text #cover-browse #cover-browse-right {
	width: 300px;
	float: left; }



/* Footer */

#cunyportal #footer {
	margin-top: 30px; }

#cunyportal #footer,
#cunyportal #footer #bepress a {
	height: 75px;
	background-color: #e9ebec; }

#cunyportal #footer p,
#cunyportal #footer p a {
	font-size: 12px;
	color: #1d3a83;
	text-decoration: none; }

#cunyportal #footer p a:hover,
#cunyportal #footer p a:active,
#cunyportal #footer p a:focus {
	color: #000;
	text-decoration: underline; }


/* Advanced Search */

.legacy #cunyportal #wrapper {
	background-image: none; }

	
/* Mobile */

.mlb #cunyportal {
	margin-top: 0; }

.mbl #cunyportal #navigation {
	margin-bottom: 0; }
	
/* Line breaks in infobox template 10-8-2015 dmaestretti */
#cunyportal #main.text #beta_7-3 .aside br {
display: block}

/* Homepage Slideshow */

#cunyportal #dcn-home .newCarousel .news-slider .text-content {
	width: 25%; }

#cunyportal #dcn-home .newCarousel .news-slider .text-content h2 {
	font-size: 16px;
	font-weight: bold; }

#cunyportal #dcn-home .newCarousel .news-slider .text-content p { 
	line-height: 1.5em; }

#cunyportal .image-content { 
	text-align: left; }
	
#cunyportal .text-content { 
	left: 472.87px; }