Bruna_etal_HeliconiaDataPaper.utf8.md
Bruna_etal_HeliconiaDataPaper.aux
Bruna_etal_HeliconiaDataPaper.fff
Bruna_etal_HeliconiaDataPaper.log
Bruna_etal_HeliconiaDataPaper.out
Bruna_etal_HeliconiaDataPaper.ttt
ECY-Data-Paper-Metadata-Template-Mar2021.docx
esajournals.onlinelibrary.wiley.com-Ecology.pdf
files_for_MS
