/* article page cover image and citation */
.cover-meta-wrap {
display: flex;
flex-direction: column;
align-items: center;
}

.cover-meta-wrap img {
width: 150px;
margin: 10px;
}

.cover-meta-wrap a {
color: #0e5f9d;
}

/* error page styles */
.error-page__header {
font-size: 4rem;
line-height: 4rem;
text-align: left;
}

.error-page__subtitle {
font-size: 1.5rem;
margin-bottom: 40px;
}

.error-page__ul {
padding-left: 0;
list-style: none;
margin: 0 0 30px;
}

.error-page__ul li:before {
display: inline-block;
content: '-';
margin-right: 6px;
}

/* profile pages */
.managedInstitutions select, .managedInstitutions label {
color: #757575;
}

/* registration form */
.registration-contact {
text-align: center;
margin-top: 20px;
}

/* supplemental materials link on article page */
.format-link {
color: #0e5f9d;
}

/* home page tabs labels */
.homepage-tabs {
font-weight: 600;
text-transform: uppercase;
color: #263238;
margin-bottom: 20px;
}

.journal-home__tab .tab__nav li.active a {
font-weight: 600;
color: #263238;
}

/* login bar dropdown items */
.navigation-login-dropdown-container {
text-transform: none;
}

/* citation tools link */
.citation-tools a {
color: #0e5f9d;
}

/* LOI non-link labels color change */
span.coverDate, span.current {
color: #263238;
}

/* custom page link color */
.rich-text-widget a {
color: #0e5f9d;
}

/* email verification link color */
.email-verification-msg a {
color: #0e5f9d;
}

/* inst entitlements link color */
div#accessEntitlementsDownloadInfo a{
color: #0e5f9d;
}