body {
	background: #ffffff;
	padding-top: 20px;
	font-size: 17px;
	
}
/* Header */

.lang-select {
	margin-top: -123px;
}

.lang-select a {
	color: #FBCC62;
}

.header-logo img {
	margin-left: -72px;
}

.ethesis-header {
	margin-bottom: 20px; 
	height: 138px;
}

.ethesis-header label {
	color: #ffffff;
}
.ethesis-header a {
	color: #FBCC62;
}



/** content general **/

.content-container {
	background-color: #fff;
	/* margin-left: 0px; /*
	

	/*-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	behavior: url(border-radius.htc);*/	
}

.content-left {
	margin-left: 0;
}

.content-news {

	/*background-color: #efefef;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	behavior: url(border-radius.htc);	*/
	
	margin-left: 0;
	padding: 10px;
	height: 325px;
}

/** Main navition **/


.custom-navi-inner ul {
	margin: 0;
	padding: 0 0 0 0;
}

.custom-navi-inner li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.custom-navi-inner li a {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #FFFC00;
	text-decoration: none;
}

.custom-navi-inner li a:hover {
	color: #fff;
}

.custom-navi-inner ul li a.home {
	background-image: url("../img/home.png");
	background-repeat: no-repeat;
	width: 21px;
	height: 22px;
}

.custom-navi-inner ul li a.home-selected {
	background-image: url("../img/home_active.png");
	background-repeat: no-repeat;
	width: 21px;
	height: 22px;
}


.custom-navi-inner ul li a.home:hover {
	background-image: url("../img/home_active.png");
	background-repeat: no-repeat;
	width: 21px;
	height: 22px;
}


.divider-border {
	border-top: 1px solid #363636;
	margin-bottom: 15px;
	margin-top: 15px;
	height: 1px;
}




/** Left navigation **/


.left-navi {
	margin-left: 0;
}

.left-navi ul {
	margin-top: 0;
	padding: 0;
	border: 1px solid #363636;
	background-color: #1F1F1F;
	list-style: none;
	margin-left: 0;
}

.left-navi ul li {
	text-align: left;
	margin: 0 10px 0 10px;
}

.left-navi ul li h4 {
	color: #909090;
}

.left-navi ul li.divider {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #363636;
	height: 1px;
}

.left-navi ul li a {
	color: #FFFC00;
	display: block;
	text-decoration: none;
	line-height: 20px;
	font-size: 12px;
	font-family: Helvetica;
	padding: 10px 10px 10px 0;
}

.left-navi ul li a:hover {
	color: #fff;
}

.left-navi ul li a.active {
	color: #fff;
}




/** Search **/

.search-form {
/*
	margin-left: 0;
	*/
}

.search-form form {
/*
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#202020), to(#3f3f3f));
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
	border: 1px solid #22262B;
	border-image: initial;
	border-radius: 5px;
	
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #595C68;
*/
}

.search-form form input[type="text"] {
/*
	box-sizing: border-box;
	height: 30px;
	margin-left: 11px;
	margin-top:11px;
*/
}

.search-form form input[type="submit"] {
	/* margin-top: 11px; */
}


.search-context {
	color: #ffffff;
	margin-left: 11px;
	margin-bottom: 11px;
	margin-right: 11px;	
}
.search-context  a {
	padding-top: 5px;

}

/** Footer **/

.ethesis-footer {

}

.ethesis-footer ul {
	list-style: none;
	padding-left: 0;
}

.footer-ul {
	padding-left: 0;
	margin: 10px 0 0 0;
}

.ethesis-footer ul li {
	color: #909090;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

.ethesis-footer li a {
	color: #909090;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	text-decoration: none;
}

.ethesis-footer a:hover {
	text-decoration: underline;
}

.ethesis-footer h4 {
	color: #909090;
	font-family: "Georgia", garamond, serif, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.ethesis-footer h4 a {
	color: #909090;
	font-family: "Georgia", garamond, serif, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

/* Joonaksen tyylit */
/*
form.submission .ds-form-item label.ds-form-label {
	vertical-align: top;
	display: inline-block;
	width: 30%;
}

form.submission .ds-form-item label.ds-composite-component  {
	vertical-align: top;
	display: inline-block;
	width: 100%;
}

form.submission .ds-form-item .ds-form-content {
	display: inline-block;
	width: 60%;
}

*/

form.submission .controls .ds-button-field {
    vertical-align: top;
	margin-top: -2px;
}

form.submission .last .controls .ds-button-field {
	display: inline-block;
}

form.submission table  {
	margin-bottom: 0px;
}
form.submission table td {
	/*border-top: 0px; */
}

#aspect_submission_StepTransformer_list_submit-review .controls {
	padding-top: 5px;
}

#aspect_artifactbrowser_AdvancedSearch_div_search-query {
	background-color: #ffffff;
	border: 0px;
	padding: 0px;

}

p.intro-text {
	text-align: justify;	
}
.collection-browse-nav {
	width: 200px;
}

ul.ds-artifact-list .ds-artifact-item {
	border-bottom: 1px solid #D8E8EB;
    padding-top: 10px;
    padding-bottom: 20px;
}

.pagination {
	height: 15px;
	margin: 0px;
	
}

.pagination .pagination-info {
	display: inline;
}

.pagination .pagination-links {
	float: right;
}

.pagination .previous-page-link  {
	line-height: 1em;
	padding: 0px;
	border: 0px;
	background-color: transparent;
	margin-right: 20px;
}
.pagination .next-page-link {
	line-height: 1em;
	padding: 0px;
	border: 0px;
	background-color: transparent;
}
	
.pagination .current-page-link {
	line-height: 1em;
	padding: 0px;
	border: 0px;
	background-color: transparent;
}
	

#aspect_artifactbrowser_ConfigurableBrowse_field_update {
	margin-top: 20px;
}

.ds-paragraph #aspect_artifactbrowser_ConfigurableBrowse_field_update {
	margin-top: 3px;
}

div.license-text {
	border: 1px solid #666;
	background-color: #EEE;
	padding: 20px;
	margin: 20px;
	margin-top: 5px;
	font-family: monospace;	
}

input#aspect_submission_submit_SaveOrRemoveStep_field_submit_save {
	display: none;
}

li.ds-artifact-item div.artifact-abstract { 
	display: none;

}

li.ds-artifact-item div.artifact-abstract, .ds-artifact-item .abstract   { 
	text-align: justify;
	padding: 10px 20px 10px 20px;
	white-space:pre-wrap;
	font-size: 12px;			 
}

td.abstract-field, td.description-field {
	white-space:pre-wrap;

}

li.ds-artifact-item .toggle-abstract-link { 
	display: none;
}

.ds-artifact-list .ds-artifact-item {
	min-height: 120px;	
}

div.artifact-links {
        width: 50px;
        text-align: right;
        position: relative;
}

div.artifact-links a {
	margin-left: 10px;
}

form.submission select option:first-child   {
	background-color: white;
	color: #595959;
}

form.submission option.option-header  {
	background-color: #FBCC62;
	color: black;
}
ul#aspect_browseArtifacts_CommunityViewer_list_community-browse, ul#aspect_artifactbrowser_CollectionViewer_list_collection-browse {
	margin: 0 0 10px 0;
	
} 
div#aspect_artifactbrowser_CommunityViewer_div_community-view ul, div#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul{
	/* list-style-type: square; */
}

ul#aspect_browseArtifacts_CommunityBrowse_list_community-browse li, ul#aspect_browseArtifacts_CollectionBrowse_list_collection-browse li {
	display: inline;
} 

ul#aspect_browseArtifacts_CommunityBrowse_list_community-browse li a, ul#aspect_browseArtifacts_CollectionBrowse_list_collection-browse li a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #0097cd;
	color: white;
}
/*
.btn-custom {
  background-color: hsl(36, 100%, 48%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb951", endColorstr="#f49200");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffb951), to(#f49200));
  background-image: -moz-linear-gradient(top, #ffb951, #f49200);
  background-image: -ms-linear-gradient(top, #ffb951, #f49200);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb951), color-stop(100%, #f49200));
  background-image: -webkit-linear-gradient(top, #ffb951, #f49200);
  background-image: -o-linear-gradient(top, #ffb951, #f49200);
  background-image: linear-gradient(#ffb951, #f49200);
  border-color: #f49200 #f49200 hsl(36, 100%, 43.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.29);
  -webkit-font-smoothing: antialiased;
}
*/
.muted {
color: #999;
}

/* Show line breaks for form fields (abstract) */
.ds-interpreted-field, #aspect_submission_StepTransformer_list_submit-review .ds-form-label ~ .ds-form-content, .accordion-inner, #aspect_xmlworkflow_WorkflowTransformer_table_fields-table .ds-table-cell {
        white-space:pre-wrap;
}

/* hide license content */
#aspect_submission_StepTransformer_div_license-content {
	display: none;	
}

/* ethesis workflow sections */
#aspect_xmlworkflow_WorkflowTransformer_div_comments, #aspect_xmlworkflow_WorkflowTransformer_div_evaluation-info, #aspect_xmlworkflow_WorkflowTransformer_div_review-info, #aspect_xmlworkflow_WorkflowTransformer_div_urkund-info, #aspect_xmlworkflow_WorkflowTransformer_div_item-info {
	display: block;
}

table .table-label {
	width: 200px;
}

table .table-label-criterion {
	width: 400px;
}

#aspect_xmlworkflow_WorkflowTransformer_table_criteria-table .table-label-criterion {
	width: auto;
}
form #aspect_xmlworkflow_WorkflowTransformer_table_fields-table textarea {
	width: 95%;
	margin: 5px;
	height: 300px;
}

#aspect_xmlworkflow_WorkflowTransformer_div_evaluation-form table select, #aspect_xmlworkflow_WorkflowTransformer_div_evaluation-form table textarea, #aspect_xmlworkflow_WorkflowTransformer_div_evaluation-form table input,
#aspect_xmlworkflow_WorkflowTransformer_div_evaluation-info table select, #aspect_xmlworkflow_WorkflowTransformer_div_evaluation-info table textarea, #aspect_xmlworkflow_WorkflowTransformer_div_evaluation-info table input {
	display: block;
}

table#org_hu_ethesis_workflow_Workflows_table_workflow-tasks a {
        display: block;
}

/* change lookup window's background */
#aspect_general_ChoiceLookupTransformer_div_lookup {
	background-image: none;
	background-color: white;
}

#aspect_submission_StepTransformer_list_submit-describe input[type*="text"], #aspect_submission_StepTransformer_list_submit-describe select{
	width: 70%;
}

#aspect_xmlworkflow_WorkflowTransformer_div_error
{
	color: red;
	border: 3px solid red;
	padding: 20px;
	width: 80%;
}

#aspect_xmlworkflow_WorkflowTransformer_div_notice
{
	color: green;
	border: 3px solid green;
	padding: 20px;
	width: 80%;
}

/* describe step highlights */
#aspect_submission_StepTransformer_item_form-desc 
{
	border: 1px solid black;
	padding: 20px;	
}
#aspect_submission_StepTransformer_item_form-desc div 
{
	margin-left: 0px;	
}

p.error {
	color: rgb(219, 57, 57);
	border: 1px solid;
	padding: 20px;
}


/** Helda styles **/

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1 {
	color: #4d4d4d;
	font-size: 40px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 20px;
	margin-top: 15px;
}
h2 {
	color: #4d4d4d;
	font-size: 24px;
	
}
h3 {
	color: #4d4d4d;
	font-size: 24px;
}

h4 {
	color: #4d4d4d;
	font-size: 15px;
	text-transform: uppercase;
}

h5 {
	color: #4d4d4d;
	text-transform: uppercase;
}
h6 {
	color: #4d4d4d;
	text-transform: uppercase;
}

p {
	color: #606060;
	/* font-size: 17px; */
}

a {
	color: #0097cd;
	/*font-size: 17px;	 */
}

label {
	color: #4d4d4d;
}

li.ds-trail-link.active {
	font-size: 17px;	
}
}

.helda-header {
	padding: 0.2em 0 10px 0;

}

.helda-header .language-selector {
  margin-top: 2.25rem;
}
/* line 15, ../scss/partials/_header.scss */
.helda-header .language-selector a {
  text-transform: uppercase;
  color: #b2b2b2;
  font-size: 16px;
}

.helda-header .sitename {
	position: absolute; 
	top: 10px; 
	left: 140px;
}
.helda-header .sitename h1 {
	font-size: 50px;
	font-style: normal;
	font-weight: bold;
	height: 0px;
	color: #96ba33;
	letter-spacing: -0.1px;	
	line-height: 5.5px;
	text-transform: uppercase;
	border: none;
}
.helda-header .sitename h2 {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 7px;
	color: #96ba33;
	letter-spacing: -0.1px;	
	line-height: 5.5px;
	text-transform: uppercase;	
}

.helda-mainmenu-container {
	height: 60px;
	background-color: rgb(34, 34, 34);
	
	position: relative;
}

.helda-mainmenu-container .search-tab {
	/* margin-top: -23px;	 */
	padding: 17px 18px; 
	background: #96ba33;
	position: absolute; 
	top: -3px;
	right: 0; *
}
.helda-mainmenu-container .search-tab-icon {
	font-size: 24px;
	color: white;
}
.helda-mainmenu-container .arrow-right-search {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 5px solid #678022;
	position: absolute;
	top: -4px;
	right: -4px;
}

.helda-search-container {
	min-height: 63px;
	background: #96ba33;
	padding-top: 12px;
}

.breadcrumb{
	background-color: #ffffff;
	padding-left: 0;
}

.breadcrumb span, .breadcrumb a {
	color:rgb(0, 140, 186);
}



/* Helda helpers */
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}

ul.no-bullet {
list-style: none;
}

.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.inline-list > li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}
.inline-list > li > * {
  display: block;
}

.search-field {
	height: 40px;
	
	width: 100%;
}

.search-context-container {
	margin-left: 0;
	padding-left: 0;

}
.search-context {
	color: #000000;
	height: 40px;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
}
.search-btn {
	height: 40px;
	color: white;
	width: 100px;		
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-weight: bold;
	line-height: normal;
	
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin: 0;
	background-color: #5a701f;
}


ol {
	padding-left: 15px;
}

#aspect_artifactbrowser_AdvancedSearch_list_search-query ol, #aspect_artifactbrowser_SimpleSearch_list_search-query ol {
	padding-left: 0px;
}

.btn {
	min-width: 100px;
}

#aspect_artifactbrowser_ItemViewer_div_item-view table {
	margin-bottom: 50px;

}


#footer {
	margin-top: 100px;
	background: #222222;
	padding-bottom: 30px;
}
/* line 6, ../scss/partials/_footer.scss */
footer {
  padding: 2rem 0;
  color: #fff;
}
/* line 10, ../scss/partials/_footer.scss */
footer img.logo {
  vertical-align: top;
  margin-top: 0;
  margin-right: 1rem;
}
/* line 17, ../scss/partials/_footer.scss */
footer a.some, footer a.twitter, footer a.youtube, footer a.instagram {
  background: transparent url("../images/sprite_some_2.png") 0 0 no-repeat;
  width: 50px;
  height: 50px;
  text-indent: -2000em;
  display: inline-block;
}
/* line 27, ../scss/partials/_footer.scss */
footer a.twitter {
  background-position: 0 -50px;
}
/* line 32, ../scss/partials/_footer.scss */
footer a.youtube {
  background-position: 0 -100px;
}
/* line 37, ../scss/partials/_footer.scss */
footer a.instagram {
  background-position: 0 -200px;
}
footer ul.address {
	padding-left: 0;
	position: absolute;
	left: 150px;
	top: 10px;
}
/* line 45, ../scss/partials/_footer.scss */
footer ul li {
  font-size: 13px;
}
/* line 48, ../scss/partials/_footer.scss */
footer ul li a {
  color: #fff;
}
/* line 53, ../scss/partials/_footer.scss */
footer ul .divider {
  margin: 0.25rem 0.55rem 0.8rem 0.55rem;
  border-top: 1px solid #333;
}
/* line 58, ../scss/partials/_footer.scss */
footer ul .copy {
  margin-left: 0.55rem;
}
/* line 65, ../scss/partials/_footer.scss */
footer .no-bullet li ul {
  margin-left: 0;
}
/* line 70, ../scss/partials/_footer.scss */
footer .hulib {
  margin-top: 0.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
/* line 76, ../scss/partials/_footer.scss */
footer .help-links {
	width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}
/* line 80, ../scss/partials/_footer.scss */
footer .help-links li {
  padding: 0.4rem 0;
}
/* line 84, ../scss/partials/_footer.scss */
footer .help-links li.list-divider {
  border-bottom: 1px solid #333;
}

footer .help-links li.list-divider {
  border-bottom: 1px solid #333;
}

/* DSpace overrides */
.Z3988 {
	display: none;
}

#ds-body {
	/* padding-left: 15px !important;  */
}

.ds-artifact-list {
	padding-left: 0;
}

.pagination-links2 {
}
.pagination-links2 ul {
        list-style: none;
}
.pagination-links2 li {
        display: inline-block;
        background-color: #0097cd;
        margin-left: 2.5px;
        margin-right: 2.5px;
        margin-bottom: 10px;
}
.pagination-links2 li.current-page-link {
        background-color: #005a7a;
}

.pagination-links2 li a {
        color: #ffffff;
        padding: 0 19px;
        line-height: 44px;

}
.pagination-links2 li.next-page {
        text-align: center;
        margin-left: 10px;
}
.pagination-links2 li.previous-page {
        text-align: center;
        margin-right: 10px;
}

.pagination-links2 .traildots {
        background-color: #ffffff;
}

.item-links {
        margin-top: 20px;
        margin-bottom: 20px;
}

.item-links a {
        margin-right: 10px;
}

blockquote {
	font-size: 12px;
	font-style: italic;	
	
}

.partner-container img{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
}


#aspect_administrative_collection_EditCollectionHarvestingForm_field_submit_reimport {
	display: none;	
}


.highlight {

	color: #ffffff;
	background-color: #0097cd;


}


ul#aspect_browseArtifacts_CommunityBrowse_list_community-browse {
        margin-top: 30px;
}

ul#aspect_browseArtifacts_CollectionBrowse_list_collection-browse {
        margin-top: 30px;
}


/* Leiki widget styles */
#leiki_helda1 #tabs-1 {
        display: none;

}
#leiki_helda1 h4 {
        font-size: 24px;
        margin-bottom: 10px !important;
        text-transform: none;
}
#leiki_helda1 .time {
        display: none;
}


/* Discovery */
#aspect_discovery_Navigation_list_discovery .ds-options-list {
	padding-left: 10px;
}

#aspect_discovery_Navigation_list_discovery .ds-simple-list {
	padding-left: 0;

}

.dri-options h1.ds-option-set-head {
	margin-bottom:  0;
}


/* hide extra showing x results line from discovery  */
#aspect_discovery_SimpleSearch_div_search h2 {
        display: none;
}

input#aspect_discovery_SimpleSearch_field_query {
    height: auto;
    font-size: 18px;
    float: none;
    display: block;
    width: 100%;
}

#aspect_discovery_SimpleSearch_field_submit {
    margin-left: 0;
	margin-top: 15px;
}


