a:not(.stat-block) {
  border-bottom: 0 !important;
}

.footer {
  background-color: $background-darker;
  padding: $padding-base;
  z-top: 999999999;
  position: relative;
  @extend %link-styling;
}

ol, ul, li {
  list-style: none; }



}
body > div.app-container > div.major-floating-block > div > div > ol > ol > ul> li {
	list-style: none;
	list-style-type: none;
}

body > div.app-container > div.major-floating-block > div > div > ul > ul > ol> li {
	list-style: none;
	list-style-type: none;
}

.article-block {
  line-height: 1.3rem;
}

.article-block a:hover {
  text-decoration: none;
}

.article-stats {
  text-align: center;

}

.article-stats .stat-block{
  float: none;
  display: inline-block;
  width: 20%;
  /* using inline-blocks generates blankspaces from new lines */
  margin-right: -5px !important; 

}

.article-credits-block {
  text-align: center;
}

.article-credits-block .credit-block {
border-right: none;
}
.credit-separator{
border-right: 1px solid #dddddd !important;
}

#xml-article #back .note .fn-label {
  text-indent: -1em;
  font-size: 1em;
  line-height: 0.5em;
  vertical-align: super;
  display: inline-block;
}

.up-notes-text-level1 {
  text-indent: -1em;
  font-size: 1em;
  line-height: 0.5em;
  vertical-align: super;
  padding-right: .6em;
}

.chapters {
  padding-top: 1.25rem;
  list-style-type: disc;
  margin-left: 20px;}
  .chapters li {
    padding-bottom: 1.25rem;
    list-style-type: decimal;
    font-size: 1.125rem; }
    .chapters li ul {
      counter-reset: none;
      list-style-type: disc;
      padding-top: 0.3125rem; }
      .chapters li ul li {
        font-size: 80%;
        list-style-type: disc;
        padding-bottom: 0.3125rem;
        margin-left: 1.25rem; }
      .chapters li ul li:before {
        content: none; }
  .chapters li:before {
    counter-increment: section;
    content: none;
    float: left;
    padding-right: 10px; }

  .no-ol{
    list-style-type:none !important;
  }



    h1 {
      line-height: normal;
    }

#xml-article div[id^='F']{
  text-align:center;

}

sup {
  position: relative;
  top: -0.5em;
}
.article-title p {
  padding-bottom: 0px;
}

#announcement ul {
  list-style: disc;
  list-style-type: disc;
  margin-bottom: 20px;
  margin-top: 20px;
}

#announcement li {
  list-style: disc !important;
  list-style-type: disc !important;
  margin-left: 30px;
  padding-bottom: 5px;
}

body > div.app-container > div.major-floating-block > div > ul > li{
  list-style: disc;
  list-style-type: disc;
  margin-left: 35px;
  padding-bottom: 5px;
}

body > div.app-container > div.major-floating-block > div > ul{
  padding-bottom: 20px;
}

body > div.app-container > div.major-floating-block > div > ul .list:before{
  display: none;
}

body > div.app-container > div.major-floating-block > div > ol{
  padding-bottom: 20px;
}

body > div.app-container > div.major-floating-block > div > ol > li{
  list-style: decimal !important;
  list-style-type: decimal !important;
  margin-left: 35px;
  padding-bottom: 5px;
}
#announcement li:before {
  display: none !important;
}

/* this class solves all the listing problems, add this class to any div where you need <ul> to work properly*/
.list-it ul {
  list-style: disc;
  list-style-type: disc;
}

.list-it li {
  list-style: disc;
  list-style-type: disc;
  margin-left: 30px;
  padding-bottom: 5px;
}

.list-it li:before {
  display: none !important;
}
/**********************************************************************************************************************/

/* Data journals*/
.up_table {
  border-collapse: collapse;

}

.up_table td ol li{
  list-style: lower-latin !important;
  margin-left: 50px;
}
.up_table td ol{
  margin-bottom: 20px;
}
.up_table tr{
  border-bottom: 1px dashed #000;
}

/* css research integrity page */
.our-team .advisory-person {  *zoom: 1;  margin-bottom: 20px; }  .our-team .advisory-person:before, .our-team .advisory-person:after {    content: " ";    display: table; }  .our-team .advisory-person:after {    clear: both; }  .our-team .advisory-person .person-image {    float: left;    display: block;    margin-right: 2.35765%;    width: 31.76157%;    margin-left: 0%; }    .our-team .advisory-person .person-image:last-child {      margin-right: 0; }    @media screen and (max-width: 580px) {      .our-team .advisory-person .person-image {        float: left;        display: block;        margin-right: 2.35765%;        width: 65.88078%;        margin-left: 0%; }        .our-team .advisory-person .person-image:last-child {          margin-right: 0; } }  .our-team .advisory-person .person-text {    float: left;    display: block;    margin-right: 2.35765%;    width: 65.88078%;    margin-left: 0%; }    .our-team .advisory-person .person-text:last-child {      margin-right: 0; }    @media screen and (max-width: 580px) {      .our-team .advisory-person .person-text {        float: left;        display: block;        margin-right: 2.35765%;        width: 65.88078%;        margin-left: 0%; }        .our-team .advisory-person .person-text:last-child {          margin-right: 0; } }  .our-team .advisory-person p {    font-size: 0.8em; }.our-team .main-team {  *zoom: 1;  clear: both; }  .our-team .main-team:before, .our-team .main-team:after {    content: " ";    display: table; }  .our-team .main-team:after {    clear: both; }.our-team .team-person {  float: left;  display: block;  margin-right: 2.35765%;  width: 31.76157%;  margin-left: 0%;  margin-bottom: 20px;  padding-right: 10px; }  .our-team .team-person:last-child {    margin-right: 0; }  @media screen and (max-width: 768px) {    .our-team .team-person {      float: left;      display: block;      margin-right: 2.35765%;      width: 65.88078%;      margin-left: 0%; }      .our-team .team-person:last-child {        margin-right: 0; } }  .our-team .team-person:nth-child(3n) {    margin-right: 0; }  .our-team .team-person:nth-child(3n+1) {    clear: left; }  .our-team .team-person h2 {    padding-bottom: 10px; }  .our-team .team-person p {    font-size: 0.8em; }  @media screen and (max-width: 768px) {    .our-team .team-person:nth-child(3n) {      margin-right: 2.35765%; }    .our-team .team-person:nth-child(3n+1) {      clear: none; }    .our-team .team-person:nth-child(2n) {      margin-right: 0; }    .our-team .team-person:nth-child(2n+1) {      clear: left; } }  @media screen and (max-width: 580px) {    .our-team .team-person {      float: left;      display: block;      margin-right: 2.35765%;      width: 48.82117%;      margin-left: 0%; }      .our-team .team-person:last-child {        margin-right: 0; } } .advisory-person p li{    font-size: 0.8em; }
/*******************************/

body > div.app-container > div.major-block > div > div > ul > li > div > a > h2 {
  font-size: 20px;
  line-height: 1.5em;
  padding-right: 5px;
}

@media screen and (max-width: 580px) {
    .society-logo {
        display: none !important;
    }
}

.volume-block .volume-caption {
  position: absolute;
  top: 70%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  line-height: 1rem;
}

.aside {
  font-size: 0.95rem;
  font-weight: 600;
  max-width: 100%;
}

.volume-block .volume-caption:before {
  content: None;
}

.volume-block:hover .volume-caption:after {
    content: None; }

.html_sidebar_block ul {
  font-size: 0.75rem;
}

.html_sidebar_block p {
  font-size: 0.75rem;
}

#references h2{
  padding-bottom: 0px !important;
}

.contrib-button{
    height: 1.4rem;
    line-height: normal;
    padding: 0 0.6rem;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    min-width: 140px;
    white-space: nowrap;
    overflow: inherit;
}

.paper-badge {
    height: 14em !important;
}

.follow-all a.linkedin {
    background-color: #3279AF;
    color: white;
}

.full-width {
  width: 100%;
}

.well p {
  padding: 8px;
}

.close-content {
  float: right;
}

.span-how-to {
    font-size: 1rem;
    color: #444444;
}

.span-citation {
    line-height: 0.9rem;
    padding-bottom:5px;
}

.article-credits-block {
    padding: 0;
}

.article-credits-block .credit-block {
    padding: 10px;
}

.fig-download {
  float: right;
  padding-top: 5px;
}

img.center {
    display: block;
    margin: 0 auto;
}

img.round{
  border-radius: 50%;
}

sub {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;

  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}

dt {
  font-weight: bold;
}
dd {
  margin: 0;
  padding: 0 0 0 0.5em;
}

h2.center{
  text-align: center;
  padding-bottom: 15px;
  font-size: 20px;
}

.article-type-list-block ul, li {
  list-style: none !important;
}

@media screen and (max-width: 1082px) {
  .follow-all a {
    font-size: 14px;
  }
}

@media screen and (max-width: 989px) {
  .follow-all a {
    font-size: 15px;
  }
}

.citation-header {
  text-align: left;
  padding-left:10px;
  margin-bottom: 10px;
}

.citation-list-item {
  font-size:12px;
  padding-left:10px;
  line-height:1.3rem;
  text-align: left;
}

.metrics-tweets {
  max-height: 400px;
  overflow:auto;
  width: 100% !important;
}

ol.sentence {
  display:inline !important;
   padding: 0;
   margin: 0;
}

ol.word {
  padding-right: .5em !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 2px !important;
  background: white !important;
  display: inline-block !important;
}

.featured-block ol.word {
  float:left;
}

.word li {
  padding-left: 0px !important;
  white-space: nowrap;
}

.sentence ol, li {
    list-style:none !important;
 }

 .gloss-number {
    float: left;
    display: flex;
    min-width: 40px;
 }

 .wrapper {
    overflow:auto;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .wrapper ol ul li {
    content: "" !important;
 }

 .wrapper li:before {
    content: "" !important;
    position: relative !important;
 }

 .sentence li {
    padding-left: 4px !important;
 }

 .article-body .sentence li {
   padding-bottom: 2px;
 }

 .article-body .word li {
   padding-bottom: 2px;
 }

 .gloss {
    overflow:auto
 }

 .sub-letter {
    padding-left: 18px;
 }

 .first {
    padding-left: 0 !important;
 }

.strike {
  text-decoration: line-through;
}

.bar-long {
  height: 3px;
  width: 0px;
  z-index: 1000;
}

.def-list td {
  vertical-align: top;
  padding: 8px;
}

.login-centered-text {
  text-align: center;
}

.app-container {
  overflow-x: none !important;
}

:target:before {
    display: block;
    content: " ";
    height: 55px;  /* Give height of your fixed element */
    margin-top: -20px; /* Give negative margin of your fixed element */
    visibility: hidden;
}

.break-email {
  word-break: break-word;
}

.article-body h4 {
  padding-bottom: 0px;
  font-size: 1.1875rem;
}

.article-body h3 {
  padding-bottom: 0px;
  font-size: 1.3125em;
}

.inline-formula {
  display: inline-block;
}

.MathJax_Display {
  margin: 0 !important;
}

.repos th, .repos td {
  border-bottom: 1px dotted gray;
  padding-right: 10px;
  text-align: left;
}


/* lower roman */
.lower-roman li::before {
  content: '' !important;
}

.lower-roman {
  list-style-type: lower-roman !important;
}

.lower-roman li {
  list-style-type: lower-roman !important;
  margin-left: 1.25rem;
}


/* upper roman */
.upper-roman li::before {
  content: '' !important;
}

.upper-roman {
  list-style-type: upper-roman !important;
}

.upper-roman li {
  list-style-type: upper-roman !important;
  margin-left: 1.25rem;
}


/* lower alpha */
.lower-alpha li::before {
  content: '' !important;
}

.lower-alpha {
  list-style-type: lower-alpha !important;
}

.lower-alpha li {
  list-style-type: lower-alpha !important;
  margin-left: 1.25rem;
}


/* upper alpha */
.upper-alpha li::before {
  content: '' !important;
}

.upper-alpha {
  list-style-type: upper-alpha !important;
}

.upper-alpha li {
  list-style-type: upper-alpha !important;
  margin-left: 1.25rem;
}

s, strike, del {
    text-decoration: line-through;
}

.monospace {
    font-family: monospace;
    font-style: normal;
    font-variant: normal;
}


/* support text boxes in article body */
.article-body .boxed-text table {
  border: 1px solid black;
  padding: 1em;
  background-color: #EEEEEE;
  margin-bottom: 1em;
}

/* So that article download links on index
    page overlap z-index of 99 on 'Show' and
    'Order by' buttons on right column' */
.icon-with-list ul {
    z-index: 100;
}

.jpps-badge {
    position: relative;
    float: right;
    display: block;
    margin-top: 2%;
    margin-right: 55%;
}

@media screen and (max-width: 1080px) {
    .jpps-badge {
        margin-right: 50%;
    }
}

@media screen and (max-width: 966px) {
    .jpps-badge {
        margin-right: 45%;
    }
}

@media screen and (max-width: 900px) {
    .jpps-badge {
        margin-right: 40%;
    }
}

@media screen and (max-width: 815px) {
    .jpps-badge {
        margin-right: 35%;
    }
}

@media screen and (max-width: 750px) {
    .jpps-badge {
        float: right;
        margin-right: 20%;
    }
}

/* Plum Analytics print widget */

.plumx-plum-print-block {
    float: none;
    display: inline-block;
    width: auto !important;
    padding: 0 10px;
    margin-right: -5px !important;
}

.stat-block {
    border-bottom: none !important;
}

.article-abstract {
    padding-bottom:10px;
}