/* Tabs
----------------------------------*/

.ui-tabs { zoom:1; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.tab-set {clear: both; margin: 30px 0;}

.main-content ul.nav-tabs {border-bottom: 1px solid #005395; list-style: none; overflow: hidden; margin-bottom: 0;}
.main-content ul.nav-tabs li {float: left; border-bottom: 1px solid #005395; margin-bottom: -1px; margin-left: 0; padding-bottom: 0;}
.nav-tabs li a {display: block; padding: 6px 10px; margin-right: 2px;/*border: 1px solid transparent;*/-webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
.nav-tabs li a:hover {border-color: #c5e3fb; background: #c5e3fb; text-decoration: none;}
.nav-tabs li.ui-state-active {border-bottom: 1px solid #fff;}
.nav-tabs li.ui-state-active a,
.nav-tabs li.ui-state-active a:hover {color: #fff;background-color: #005395;/*border: 1px solid #ddd;border-bottom-color: transparent;*/cursor: default;}

.ui-tabs-panel {border: 1px solid #005395; border-top: none; padding: 20px; overflow: hidden;}

.nav-tabs:before,
.nav-tabs:after {display: table;content: "";}
.nav-tabs:after {clear: both;}


/* Media queries
----------------------------------*/

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.nav-tabs li a {border-radius: 4px;}
	.nav-tabs li.ui-state-active,
	.main-content ul.nav-tabs li {border-bottom: 0;}
	.main-content ul.nav-tabs li {margin-bottom: 3px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.nav-tabs li a {border-radius: 4px;}
	.nav-tabs li.ui-state-active,
	.main-content ul.nav-tabs li {border-bottom: 0}
	.main-content ul.nav-tabs li {margin-bottom: 3px;}
}