/*
* Text Widget Styles
*
* Global styles to help fix common display issues on WordPress.com
* that could happen with the Rich Text Widget, introduced in WordPress 4.8.
*/

.widget.widget_text {
	word-wrap: break-word;
}

.widget.widget_text ul,
.widget.widget_text ol {
	margin-bottom: 1em;
	margin-left: .875em;
	padding-left: .875em;
}

.widget.widget_text li ul,
.widget.widget_text li ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.widget.widget_text ul {
	list-style: disc outside none;
}

.widget.widget_text ol {
	list-style: decimal outside none;
}

.widget.widget_text ul li,
.widget.widget_text ol li {
	border: 0;
	list-style: inherit;
	margin: 0;
	padding: 0;
	text-align: left;
}

.widget.widget_text ul li:before {
	content: "";
}

.widget.widget_text p {
	margin-bottom: 1em;
}
