.cxs-style-root .component-content-html p {
  line-height:32px;
  color:#3c3c3c;
}
.cxs-style-root .component-content-html .c-List__items { line-height:32px; }
.cxs-style-root .component-content-html .permission p,
.cxs-style-root .component-content-html p.notes { color:#717173; }
.cxs-style-root .productInfo { margin-bottom:8px; }
.cxs-style-root h1 {
  font-weight:bold;
  font-size:2.5em;
  color:white;
}
.cxs-style-root h2 {
  font-family:'Gotham','Helvetica','Arial',sans-serif;
  font-size:20px;
  font-weight:300;
  text-transform:uppercase;
  color:#000;
  margin-bottom:24px;
}
.cxs-style-root .test {
  color:#ffffff;
  padding:1.0em;
  background:#6fbf4c;
  background-image:-moz-linear-gradient(45deg,#6fbf4c 0,#45822b 100%);
  background-image:-webkit-gradient(linear,left bottom,right top,color-stop(0,#6fbf4c),color-stop(100%,#45822b));
  background-image:-webkit-linear-gradient(45deg,#6fbf4c 0,#45822b 100%);
  background-image:-o-linear-gradient(45deg,#6fbf4c 0,#45822b 100%);
  background-image:-ms-linear-gradient(45deg,#6fbf4c 0,#45822b 100%);
  background-image:linear-gradient(45deg,#6fbf4c 0,#45822b 100%);
  -webkit-box-shadow:10px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow:10px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow:10px 10px 5px -6px rgba(0,0,0,0.75);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #000000;
  overflow:auto;
}
.cxs-style-root .button {
  float:left;
  cursor:pointer;
  background:#0f395f;
  background-image:-webkit-linear-gradient(top,#0f395f,#092844);
  background-image:-moz-linear-gradient(top,#0f395f,#092844);
  background-image:-ms-linear-gradient(top,#0f395f,#092844);
  background-image:-o-linear-gradient(top,#0f395f,#092844);
  background-image:linear-gradient(to bottom,#0f395f,#092844);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  color:#ffffff;
  font-size:20px;
  padding:10px 20px 10px 20px;
  text-decoration:none;
}
.cxs-style-root .button:hover {
  background:#1c4c78;
  background-image:-webkit-linear-gradient(top,#1c4c78,#0f395f);
  background-image:-moz-linear-gradient(top,#1c4c78,#0f395f);
  background-image:-ms-linear-gradient(top,#1c4c78,#0f395f);
  background-image:-o-linear-gradient(top,#1c4c78,#0f395f);
  background-image:linear-gradient(to bottom,#1c4c78,#0f395f);
  text-decoration:none;
}
.cxs-style-root .placeholder {
  display:block;
  background:url(../img/logo.png) #ffffff no-repeat;
  width:326px;
  height:200px;
  margin-bottom:1.0em;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #000000;
}
.cxs-style-root .target {
  color:#000000;
  display:none;
  margin-left:1.0em;
  background:#ffffff;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  padding:10px 20px 10px 20px;
  font-size:20px;
  float:left;
}
.cxs-style-root p { margin:0.5em 0; }
.cxs-style-root strong,
.cxs-style-root b { font-weight:bold; }
.cxs-style-root em,
.cxs-style-root italic { font-style:italic; }
.cxs-style-root ul { list-style:disc; }
.cxs-style-root ol { list-style:decimal; }
.cxs-style-root li { margin-bottom:1em; }
.cxs-style-root a.c-Button {
  font-size:1rem;
  font-weight:500;
}
@font-face {
  font-family:'wingdingding';
  src:url(../fonts/flyer/Wingdings3.woff);
}
@font-face {
  font-family:Gotham;
  src:url(../fonts/flyer/Gotham-Book.woff);
  font-weight:400;
}
@font-face {
  font-family:Gotham;
  src:url(../fonts/flyer/Gotham-Bold.woff);
  font-weight:700;
}
@font-face {
  font-family:Times;
  src:url(../fonts/flyer/Times-Roman.woff);
  font-weight:normal;
}
@font-face {
  font-family:Times;
  src:url(../fonts/flyer/Times-Bold.woff);
  font-weight:bold;
}
@font-face {
  font-family:Times;
  src:url(../fonts/flyer/Times-Italic.woff);
  font-style:italic;
}
@font-face {
  font-family:Times;
  src:url(../fonts/flyer/Times-BoldItalic.woff);
  font-weight:bold;
  font-style:italic;
}
.cxs-style-root .flyer {
  -webkit-hyphenate-character:'-';
  color:black;
}
.cxs-style-root .flyer .font-header { font-family:Gotham !important; }
.cxs-style-root .flyer p {
  margin-bottom:11.5pt;
  margin-top:0;
}
.cxs-style-root .flyer .of_interest_to p,
.cxs-style-root .maintext p {
  margin-top:0;
  padding-top:0;
}
.cxs-style-root .flyer .width_12mm { width:12mm; }
.cxs-style-root .flyer .width_123mm {
  width:111mm;
  max-width:111mm;
}
.cxs-style-root .flyer .width_8mm { width:8mm; }
.cxs-style-root .flyer .width_55mm { width:55mm; }
.cxs-style-root .flyer .height_1_5mm { height:1.5mm; }
.cxs-style-root .flyer .height_7mm { height:7mm; }
.cxs-style-root .flyer .height_10mm { height:10mm; }
.cxs-style-root .flyer .height_24mm { height:24mm; }
.cxs-style-root .flyer .height_12mm { height:12mm; }
.cxs-style-root .flyer .height_6mm { height:6mm; }
.cxs-style-root .flyer .height_9mm { height:9mm; }
.cxs-style-root .flyer .gray { background-color:rgb(226,227,228); }
.cxs-style-root .flyer .gray_light { background-color:rgb(239,239,240); }
.cxs-style-root .flyer .pink { background-color:rgb(226,6,138); }
.cxs-style-root .flyer .black { background-color:rgb(0,0,0); }
.cxs-style-root .flyer .white_text { color:rgb(255,255,255); }
.cxs-style-root .flyer .gotham { font-family:"Gotham",sans-serif; }
.cxs-style-root .flyer .gotham_book { font-family:"Gotham",sans-serif; }
.cxs-style-root .flyer .gotham_bold {
  font-family:"Gotham A","Gotham B",sans-serif;
  font-weight:600;
}
.cxs-style-root .flyer .wingding { font-family:"wingdingding"; }
.cxs-style-root .flyer .uppercase { text-transform:uppercase; }
.cxs-style-root .flyer .timesnew { font-family:Times,"Times New Roman",serif; }
.cxs-style-root .flyer .timesbolditalic,
.cxs-style-root .flyer .timesnew i b,
.cxs-style-root .flyer .timesnew b i,
.cxs-style-root .flyer .timesnew i strong,
.cxs-style-root .flyer .timesnew strong i,
.cxs-style-root .flyer i b .timesnew,
.cxs-style-root .flyer b i .timesnew,
.cxs-style-root i strong .timesnew,
.cxs-style-root .flyer strong i .timesnew,
.cxs-style-root .flyer i .timesnew b,
.cxs-style-root .flyer b .timesnew i,
.cxs-style-root .flyer i .timesnew strong,
.cxs-style-root .flyer strong .timesnew i {
  font-family:Times,"Times New Roman",serif;
  font-weight:bold;
}
.cxs-style-root .flyer .timesnewbold,
.cxs-style-root .flyer .timesnew b,
.cxs-style-root .flyer .timesnew strong,
.cxs-style-root .flyer b .timesnew,
.cxs-style-root .flyer strong .timesnew {
  font-family:Times,"Times New Roman",serif;
  font-weight:bold;
}
.cxs-style-root .flyer .gotham_book b,
.cxs-style-root .flyer .gotham_book strong,
.cxs-style-root .flyer .gotham b,
.cxs-style-root .flyer .gotham strong {
  font-family:"Gotham A","Gotham B",sans-serif;
  font-weight:bold;
}
.cxs-style-root .flyer .timesitalic,
.cxs-style-root .flyer .timesnew i,
.cxs-style-root .flyer i .timesnew {
  font-family:Times,"Times New Roman",serif;
  font-style:italic;
}
.cxs-style-root .flyer .arial { font-family:"flyerarial"; }
.cxs-style-root .flyer .font_size_4_5pts {
  font-size:4.5pt;
  line-height:5.25pt;
  display:inline-block;
}
.cxs-style-root .flyer .font_size_5pts { font-size:5pt; }
.cxs-style-root .flyer .font_size_6_5pts { font-size:6.5pt; }
.cxs-style-root .flyer .font_size_7pts { font-size:7pt; }
.cxs-style-root .flyer .font_size_7_5pts { font-size:7.5pt; }
.cxs-style-root .flyer .font_size_8pts {
  font-size:8pt;
  line-height:9pt;
}
.cxs-style-root .flyer .font_size_9pts {
  font-size:9pt;
  line-height:12pt;
}
.cxs-style-root .flyer .font_size_9_5pts { font-size:9.5pt; }
.cxs-style-root .flyer .font_size_10pts { font-size:10pt; }
.cxs-style-root .flyer .font_size_11_5pts { font-size:11.5pt; }
.cxs-style-root .flyer .font_size_12pts {
  font-size:12pt;
  line-height:13pt;
}
.cxs-style-root .flyer .font_size_14pts {
  font-size:14pt;
  line-height:15pt;
}
.cxs-style-root .flyer .font_size_20pts { font-size:20pt; }
.cxs-style-root .flyer .line_height_7_5pts { line-height:7.5pt; }
.cxs-style-root .flyer .line_height_8pts { line-height:8pt; }
.cxs-style-root .flyer .line_height_8_5pts { line-height:8.5pt; }
.cxs-style-root .flyer .line_height_9pts { line-height:9pt; }
.cxs-style-root .flyer .line_height_11_5pts { line-height:11.5pt; }
.cxs-style-root .flyer .line_height_11pts { line-height:11pt; }
.cxs-style-root .flyer .line_height_12pts { line-height:12pt; }
.cxs-style-root .flyer .line_height_13pts { line-height:13pt; }
.cxs-style-root .flyer .line_height_14pts { line-height:14pt; }
.cxs-style-root .flyer .line_height_15pts { line-height:15pt; }
.cxs-style-root .flyer .line_height_18pts { line-height:18pt; }
.cxs-style-root .flyer .line_height_20pts { line-height:20pt; }
.cxs-style-root .flyer .line_height_29pts { line-height:29pt; }
.cxs-style-root .flyer .hanging_title {
  position:relative;
  display:inline-block;
  left:-23.5mm;
  top:1.5mm;
  height:6mm;
  line-height:5.5mm;
  min-width:40mm;
  max-width:141mm;
  padding-left:3mm;
  padding-right:8mm;
}
.cxs-style-root .flyer img { vertical-align:middle; }
.cxs-style-root .flyer .wingdingchar:before {
  content:"\7D";
  font-family:'wingdingding';
  font-size:3pt;
  vertical-align:middle;
  line-height:1em;
}
.cxs-style-root .flyer .priceprint_journal:before { content:"\0020\002F\0020"; }
.cxs-style-root .flyer .copyright_holder:before { content:"\002C\0020"; }
.cxs-style-root .flyer .copyright_holder:first-child:before,
.cxs-style-root .flyer .priceprint_journal:first-child:before { content:""; }
.cxs-style-root .flyer .mvw_part:before {
  content:"\0020\2013\0020";
  font-family:'gotham_book';
}
.cxs-style-root .flyer .mvw_part:first-child:before { content:""; }
.cxs-style-root .flyer .primary_author { margin-bottom:4mm; }
.cxs-style-root .flyer .authors { margin-bottom:1.5mm; }
.cxs-style-root .flyer .editors { margin-bottom:1.5mm; }
.cxs-style-root .flyer .title { margin-bottom:1.5mm; }
.cxs-style-root .flyer .subtitle { margin-bottom:4mm; }
.cxs-style-root .flyer .transtitle { margin-bottom:4mm; }
.cxs-style-root .flyer .contributors,
.cxs-style-root .journal_primary_editor { margin-bottom:4mm; }
.cxs-style-root .flyer .contributors p { margin:0 0 0 0; }
.cxs-style-root .flyer #dgtext {
  position:absolute;
  bottom:-0.9mm;
  left:0;
  font-size:12pt;
}
.cxs-style-root .flyer .height_8mm { height:8mm; }
.cxs-style-root .flyer .height_4mm { height:4mm; }
.cxs-style-root .flyer .stretch_content {
  display:block;
  min-height:300mm;
}
.cxs-style-root .flyer .maintext,
.cxs-style-root .flyer .reviews,
.cxs-style-root .flyer .author_info { margin-bottom:3mm; }
.cxs-style-root .flyer ul {
  margin:0;
  margin-bottom:3mm;
  padding:0;
}
.cxs-style-root .flyer li {
  margin:0 0 0 9pt;
  padding:0px;
  text-indent:-9pt;
  list-style-type:none;
}
.cxs-style-root .flyer li:before {
  content:"\7D";
  font-family:'wingdingding';
  margin-left:1.8em;
  margin-bottom:.3em;
  font-size:5pt;
  vertical-align:middle;
  display:inline-block;
}
.cxs-style-root .flyer .prices,
.cxs-style-root .mtext { vertical-align:top; }
.cxs-style-root .flyer #side_content div { margin-bottom:1.5mm; }
.cxs-style-root .flyer #side_content div.price-type-bl-notice {
  margin-bottom:0;
  margin-top:2mm;
}
.cxs-style-root .flyer #side_content div.price-type-bl-notice a { color:black; }
.cxs-style-root .flyer .subject {
  display:block;
  margin-bottom:1.25pt;
}
.cxs-style-root .flyer .prices,
.cxs-style-root .flyer .pubdate,
.cxs-style-root .flyer .language_of_pub,
.cxs-style-root .flyer .subjects,
.cxs-style-root .flyer .of_interest_to { page-break-inside:avoid !important; }
.cxs-style-root .flyer #main_content p {
  widows:3;
  orphans:3;
}
.cxs-style-root .flyer li div,
.cxs-style-root .flyer li div span p {
  display:inline;
  margin:0;
}
.cxs-style-root .flyer .biblcount div {
  display:inline;
  padding:0;
}
.cxs-style-root .flyer .biblcount div::after { content:', '; }
.cxs-style-root .flyer .biblcount div:last-child:after { content:''; }
.cxs-style-root .contribBio {
  margin-bottom:8px;
  overflow:auto;
}
.cxs-style-root .contribBio img {
  margin-right:8px;
  float:left;
  height:120px;
}
.cxs-style-root .contribBio span { font-size:16px; }
.cxs-style-root .contribBio+li { clear:both; }
.cxs-style-root .contributors {
  font-size:18px;
  line-height:32px;
  color:#717173;
}
.cxs-style-root .contrib {
  position:relative;
  display:inline-block;
  cursor:pointer;
}
.cxs-style-root .contrib .aff-overlay {
  visibility:hidden;
  width:320px;
  top:100%;
  left:0%;
  background-color:#f6f6f8;
  color:#000;
  cursor:default;
  position:absolute;
  overflow:hidden;
  z-index:30;
}
.cxs-style-root .contrib:hover .aff-overlay,
.cxs-style-root .contrib:active .aff-overlay,
.cxs-style-root .contrib:focus .aff-overlay {
  visibility:visible;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
}
.cxs-style-root .aff-overlay ul {
  list-style-type:none;
  margin:8px 12px;
  font-weight:normal;
}
.cxs-style-root .aff-overlay ul li {
  list-style:none;
  margin-bottom:0;
  font-size:14px;
  line-height:24px;
}
.cxs-style-root .aff-overlay li.aff { font-size:16px; }
.cxs-style-root .aff-overlay li~li { margin-top:.5em; }
.cxs-style-root .contrib-corresp:after,
.cxs-style-root .email:after {
  content:"email";
  display:inline-block;
  font-family:'Material Icons';
  vertical-align:top;
  margin-left:4px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-decoration:none;
}
.cxs-style-root .aff-overlay li a {
  color:#007596;
  text-decoration:none;
}
.cxs-style-root .aff-overlay li a:hover { background-color:rgba(0,117,150,0.1); }
.cxs-style-root .contrib:hover,
.cxs-style-root .contrib:focus {
  color:#007596;
  background-color:rgba(0,117,150,0.1);
}
.cxs-style-root a.contrib-corresp:hover,
.cxs-style-root a.email { text-decoration:none; }
.cxs-style-root a.authorSearch { margin-right:16px; }
.cxs-style-root a.authorSearch:before {
  content:'search';
  font-family:'Material Icons';
  font-size:18px;
  margin-right:4px;
  color:#47575a;
  vertical-align:top;
  display:inline-block;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.cxs-style-root a.authorEmail:before {
  content:'email';
  font-family:'Material Icons';
  font-size:18px;
  margin-right:4px;
  color:#47575a;
  vertical-align:top;
  display:inline-block;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.cxs-style-root a.authorORCID:before {
  background-image:url(https://www.degruyter.com/fileasset/images/orcid_iD_icon.svg);
  background-size:1em 1em;
  display:inline-block;
  width:1em;
  height:1em;
  margin-bottom:-.2em;
  margin-right:.4em;
  content:"";
}
.cxs-style-root .deceased:after {
  content:"\a0\2020";
  color:black;
}
