@media all {
	
  html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
  /*em, */
  img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,   figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,   footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }

  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
	strong{ font-weight: bold; }
	
	h3{font-size: 1.1em; font-weight: bold; margin-top: 15px;}
	
	.clear{
		clear: both;
	}
	
	a img {
		border: none;
	}
	
	body {
		font-family:Arial,sans-serif;color:#222;
		padding:0;
		margin:0;
	}
	
	div#main {
		min-width: 615px;
		max-width: 1070px;
		padding: 10px 20px;
		margin: 0 auto;
	}
	
	div#logo{
		 padding: 0px 16px 0px 0; 
		 float: left;
	}
		.index div#logo img { width: auto; } 
	
	.large{
		font-size: 1.2em;
	}
		
		div.index div#logo{
			width: 313px;
			float: none;
			margin: 100px auto 30px auto;
		}
	
	div#actionbar {
		float: right;
		width: 200px;
		padding: 2px;
		background: #fff;
		color:#444;
		font-size:0.8em;
		text-align: right;
	}
		div#actionbar a {
			color:#444;
			margin-left: 10px;	
		}
		div#actionbar img {
			vertical-align: middle;
		}
	
	div#tagline
	{
		/* padding:4px; */
		display:none;
		margin-top:32px;
		line-height:1.3em;
	}
	
	div#sbar{
		float: left;
		padding-top: 24px; 
		padding-top: 28px\9; 
		margin: 0px auto 0 auto; 
		width: 475px; 
		font-size: 1em; 
		line-height: .9em;
	}
	
		div.index div#sbar {
			float: none;
			width: 607px;
			font-size: 1em; 
			margin: 24px auto 64px auto;	
			text-align: center;
		}

	
	
	div#sbar div.sTab{
		clear: both;
		position: absolute;
		margin: -24px 0 0 0;
		margin: -23px 0 0 0\9;
		padding: 5px 0 5px 0px;
	}
		div#sbar div.sTab a, div#sbar span {
			display: block;
			margin: 0 auto;
			text-align: center;
			color: #fff;
			font-weight: bold;
			text-decoration: none;
		}
		
	div#sbar div#tab1{ 
		width: 115px;
		padding-right: 10px;
		background: url("../img/colActTabBG.png") no-repeat;	
		}
	div#sbar div#tab1 div.sTab a, div#sbar div#tab1 span { width: 115px; }
	div#sbar div#tab1b { 
		width: 125px;
		background: url("../img/defaultGreyTabBG.png") no-repeat;
		margin-left:118px;
		}
	
	div#sbar div#tab2b{ 
		width: 115px;
		padding-right: 10px;
		background: url("../img/colGreyTabBG.png") no-repeat;
	}
	div#sbar div#tab2b div.sTab a, div#sbar div#tab2 span { width: 115px; }
	div#sbar div#tab2 { 
		width: 125px;
		background: url("../img/thesActTabBG.png") no-repeat;	
		margin-left:118px;
		}


	#sbar form a#atips, #sbar form a#attips
	{
		float: right;
		width: 60px;
		font-size:0.7em;
		text-align: left;
		color: #444;
		position: relative;
		left: -3px;
	}
	
	div.index #sbar form a#atips, div.index #sbar form a#attips {
		left: 10px;
	}

	
	
	div#sopt, div#soptt{
	 margin-top: 8px; 
	 clear: both; 
	 font-size: 0.9em; 
	 text-align: left;
	}
	
	div.index div#sopt, div.index div#soptt{
	 margin-top: 12px; 
	 clear: both; 
	 font-size: 0.9em; 
	 text-align: left;
	}
		
		div#sopt input, div#soptt input  {
			margin: 0;
		}
	
		div#sopt label, div#soptt label {
			margin: 0 15px 0 0;
		}
	
		div.index div#sopt label, div.index div#soptt label {
			margin: 0 12px;
		}

		div.index div#sopt, div.index div#soptt{
			text-align: center;
		}
	
	#sbar form {
		margin: 8px 0 0 10px;
	}
	
	#sbar form input[type=submit]
	{	
		width: 60px;
		position: relative;
		top: -3px;
		top: 0\9;
		color: #fff;
		height: 30px;
		font-weight:bold
	}
	.ie10 #sbar form input[type=submit] {
		top: -6px;
	}
	
	#sbar form#f input[type=submit]
	{
		border:1px solid #2f5bb7;
		background-color: #357ae8;
	}
	#sbar form#ft input[type=submit]
	{
		border:1px solid #484;
		background-color:#6a6;
	}
	
	#sbar form#f input:hover[type=submit] {
		background-color: #1358c6;
	}
	
	#sbar form#ft input:hover[type=submit] {
		background-color: #484;
	}
	
	input#s, input#st {
		height: 25px;
		width:67%;
		border:1px solid #2f5bb7;
		border-top:1px solid #0d3995;
		margin: 0;
		padding: 3px 8px 0 8px;
		font-size:1.2em;
	}
	input#st {
		border:1px solid #484;	
		border-top:1px solid #262;	
	}
	div.index input#s, div.index input#st{
		width: 76.1%;
	}
	
	div#rr
	{
		padding-left:246px;	/* tied to div#rf width*/
	}
	
	div#rr0
	{
		color:#274;
		padding-top: 1px;
		padding-top: 0\9;
		margin-bottom: 10px;
		text-align: right;
	}
	
	div#rr0 .noRs
	{
		font-weight:bold;
		padding-top: 20px;
		text-align: center;
	}
	
	div#rr0 .noRsMore {
		text-align: center;
	}
	
	div.rSg {
		padding-top: 15px;
		font-size: 1.2em;
		color: #575;
	}
		div.rSg a{
			font-style: italic;
			margin-right: 5px;
		}
	
	div#r {
		text-align:left;
		font-size:0.8em;
		clear: both;
	}

	div#pagination{
		padding-top:16px;
		margin-bottom: 30px;
		text-align:right;
	}
	
	div.r_i
	{
		padding: 0 0 16px 0;
		margin-bottom: 10px;
		line-height: 1.4em;
		clear: right;
	}

	div.r_f div { background: #fff; }
	
	div.r_f, div#r_colR div.r_f
	{
		padding: 9px 10px 4px 10px;
		clear: right;
		float: right;
		width: 150px;
		margin: 5px 0 3px 10px;
		color:rgb(17, 85, 204);
		font-size:.9em;
		background: #e7e7e7;
		color: #555;
	}
		
		div.r_f br {	
			clear: left;
		}
		
		div.r_f img {
			float: left;
			margin: 0 5px 3px 0;
			position: relative;
			top: -1px;
		}
		
		div.r_f p {
			margin-top: 0px;
		}
		
		div.r_f a, div.r_f span.reviewed{
			float: left;
			display: block;
			margin-bottom: 7px;
		}
		
		
	
	div.r_x
	{
		font-size:0.9em;
		margin:2px;
		color:#aaa;
	}
	
	div.r_t
	{
		font-size:1.2em;
		font-weight: bold;;
		font-family: Trebuchet MS, sans-serif;
		color: #6611cc;
	}
	
	div.r_d
	{
		color:#222;
		margin-bottom: 5px;
	}
	
	div.r_a
	{
		color:#274;
		margin-bottom: 5px;
	}
	
	div#details div#r_colR
	{
		float:right;width:192px;margin-left:32px; background: #fff; padding-left: 5px;
	}
	
	div#details div#r_colL
	{
		margin-right:232px;
	}
	
	div.r_i a
	{
		color:#1122cc;
	}
	
	div#rf
	{
		float:left;
		width:220px;	/* tied to div#rr width*/
	}

	table.normalTable
	{
		margin-bottom: 12px;
		padding: 2px 0;
		border-top:none;
		background: #e7e7e7;
		line-height: 1.2em;
	}
	
	table.normalTable td
	{
		font-size:0.9em;
		padding:2px;
		padding-left:4px;
		vertical-align:top;
	}
	table.normalTable tr td:first-child a{
		word-wrap: break-word;
		display: block;
		width: 160px;
	}
	
	table.normalTable tfoot tr td:first-child a{
		word-wrap: break-word;
		display: block;
		width: auto;
	}
	
	div#rf table
	{
		margin-bottom: 12px;
		padding: 2px 0;
		border-top:none;
		background: #e7e7e7;
		line-height: 1.2em;
	}
	
	div#rf table td
	{
		font-size:0.9em;
		padding:2px;
		padding-left:4px;
		vertical-align:top;
	}
	div#rf table tr td:first-child a{
		word-wrap: break-word;
		display: block;
		width: 160px;
	}
	
	div#rf table tfoot tr td:first-child a{
		word-wrap: break-word;
		display: block;
		width: auto;
	}
	
	#rf .rf_m a {
		color:#777;
	}
	
	div#rf table tfoot td
	{
		text-align:center;
		font-size:0.85em;
	}
	
	div#rf div.rf_h
	{
		padding:0;
		margin-bottom: 4px;
		line-height: 1.4em;
	}

	
	div#rf div.rf_h a
	{
		color: #232;
	}
	
	div#rf div.rf_h div
	{
		font-weight:bold;
		text-transform: uppercase;
		background-color:#575;
		color:#fff;
		padding:5px 2px 3px 5px;
		
	}
	
	div#rrw {
		margin-bottom: 10px;	
	}
	
	div#rrw a {
		margin-bottom: 0;
		color: #039;
	}
	
	
	div.r_i a:visited
	{
		color:#6611cc;
	}
	
	div#rrm a
	{
		color: #039;
	}
	
	/** Facets CSS **/
	
	div#ffacet
	{
		float: right;
		width: 100%;
		text-align:left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	div#ffacet ul
	{
		padding:0;
		margin: 0 0 0 0;
	}
	div#ffacet ul li
	{
		padding: 3px 10px 3px 4px;
		margin: 0 5px 5px 0;
		float: left;
		list-style:none;
		font-size:0.9em;
		color: #131;
		background: #cdc url('../img/arrowTip.png') right no-repeat;
		white-space: nowrap;
	}
	
	div#ffacet ul li a {
		color: #131;
		text-decoration: none;
	}
	
	div#ffacet ul li a span
	{
		color: #fff;
		font-weight: bold;
	}
	
	/** Details CSS **/
	
	div#return {
		float: right;	
		width: 160px;
	}
		div#return a{
			text-decoration: none;
			display: block;
			padding: 10px 5px;
			font-size: .9em;
			font-weight: bold;
			color: #fff;
			background: #575;
		}
		div#return a:hover{
			background: #7a7;
		}
	
	div#details {
		clear: both;
		padding-top: 10px;
		border-top: 1px solid #093;
		font-size: .9em;
		line-height: 1.3em;
	}
	div#i { 
		float: left;
		width: 100%;
		padding-top: 11px;
	}
	
	
	div#details div.narrow {
		max-width:780px;
		margin: 10px auto;
	}
	
	div#details .widetext{
		font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	}
	
	
	
	div#details ul {
		margin: 10px 0;
		list-style-type: none;
	}
	div#details ul li{ 
		padding-left: 16px;
		background: url('../img/ul_level1.png') 5px 6px no-repeat;
		margin-bottom: 4px;
	}
		
	div#details.tResults ul  {
		font-size: 1.2em;
	}
	
	div#details.tResults ul li , div#details.tsd ul li{ 
		padding-left: 0;
		background: none;
		margin-bottom: 8px;
	}	
	
	div#details .tResHead {
		margin: 5px 0;
	}	
		
	div#details div.r_f ul li {
		margin-bottom: 0px;
	}
	div.record ul ul {
		margin: 5px 0 10px 0;
		list-style-type: none;
	}
	div.record ul ul li{ 
		padding-left: 16px;
		background: url('../img/ul_level2.png') 5px 7px no-repeat;
	}
	
	div.record div {
		margin-bottom: 8px;
	}
		div.record strong {
			color: #444;	
		}
		div.record a strong {
			color: #00E;
		}

		div#details a.dlnk {
			color: #00E;
		}
		
		div#details div.r_f {
			font-size: .8em;
			width:180px;
			margin-top:0;
			margin-left:0;
			padding-right:0;
			float:none;
		}
		
		div#details div.r_f a 
		{
			margin-bottom:0;
		}
		
		div#details  div.r_f strong {
			color: inherit;
		}
		
	
	div#details div.title{
		margin-bottom: 10px;
		font-size: 1.3em;
		font-weight: bold;
		color: #333;
	}
	
	div.subtitle{
	    margin-bottom: 8px;
		text-decoration:underline;
		font-weight: bold;
	}
	
	div#details div.abstract {
		margin: 20px 0;
		line-height: 1.3em;
	}

	div#details  h2
	{
		font-weight:bold;
		font-size:1.3em;
		margin: 15px 0;
		clear: left;
	}
	
	
	div#details.tsd span.tsBox {
		background: #cdc;
		padding:2px 4px;
		margin-left: 10px;
		font-size:0.9em;
		font-weight: normal;
	}
	
	div.tsBox {
		margin: 15px 0 20px 0;
	}
	
	div.tsBox a
	{
		padding-top: 2px;
		padding-left: 25px;
		font-size:0.9em;
		background: url('../img/eric_search.png') left no-repeat;
	}
	
	div#details.tsd div.adate
	{
		float:right;padding-top:8px;font-size:0.8em
	}
	
	div.col1, div.col2, div.col3
	{
		float:left;
		width:33%;
	}

	div.alphalist
	{
		padding:4px;
		width:100%;
	}
	
	div.alphalist a
	{
		display: inline-block;
		width: 23px;
		padding: 5px 0;
		text-align: center;
		background-color:#cdc;
		color: #131;
		font-size: 1.2em;
		margin:2px;
		border:solid 1px #aba;
		text-decoration:none;
	}
	
	/** highlighting **/
	
	div.r_i span
	{
		font-weight:bold;
		
	}
	
	div.keywords {
		font-size: .9em;
		color: #777;
	}
	
	div.sInfo {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px dotted #aaa;
		font-size: .8em;
	}

	div.sInfo div.leftCol{
		float: left;
		width: 35%;
	}

	div.sInfo div.rightCol{
		float: right;
		width: 60%;
	}

	div.sInfo div div {
		padding: 0 10px 0 0;
	}

	#divFooter { clear: both; }
	
	div#ftrPadding{
		margin-top: 20px;
		/**padding: 10px 20px; **/
	}
	
	div #rr div#ftrPadding{
		margin-top: 20px;
		font-size: 1.2em;
	}
	div#ftr{
		padding-top: 10px;
		margin:0 auto;
		white-space: nowrap;
		text-align:center;
		border-top: 1px solid #888;
	}
	
	div#ftrLogos {
		width: 200px;
		float: left;
		text-align: left;
	}
	
	div#ftrSocial {
		width: 200px;
		text-align: right;
		padding-top:4px;
		float:right;
	}
	
	div#ftrSocial img{
		vertical-align:top;
	}
	
	div#centerLinks{
		font-size:0.8em;
		color:#222;
		padding:8px;
		margin: -5px 200px 0 200px;
		line-height: 1.4em;
	}

	div.gbox{
		padding: 10px;
		border: 1px solid #575;
		background: #e7e7e7;
	}
	

	/** Redirect page **/
	
	div.redir {
		border-top: 1px solid #777;
		border-bottom: 1px solid #777;
		width: 450px;
		margin: 20px auto;
		padding: 10px 20px;
		text-align: center;
		font-size: .9em;
	}
		div.redir p{
			text-align: left;
		}
		div.redir p.url {
			text-align: center;
		}

	table#tblTerms
	{
		width:100%;	
	}

	table#tblTerms tr td
	{
		font-size:0.8em;
		width:48%;
		padding-left:8px;
		vertical-align:top;
	}

	table#tblTerms tr td div
	{
		margin-left:-8px;
		margin-bottom:0;
		padding-top:10px;
		font-size:1.2em;
		font-weight:bold;
	}

	div.selpolicy
	{
		padding:8px 0
	}

	div.selpolicy div
	{
		padding:8px 12px
	}
	
	/*
		div.sTab
{
	position:absolute;
	height:24px;
	padding:0;
	margin-top:-24px;
	width:120px;
}
	
	div.sTab a, div.sTab span
{
	border-right:solid 1px #fff;
	padding:5px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
	display:block;
	font-size:0.9em;
}
div.sTab span
{
	font-weight:bold;
}*/

	div#divListActions
	{
		text-align:right;
		position:relative;
	}

	div.boxListAction
	{
		position:absolute;
		text-align:left;
		width:316px;
		right:0;
		background-color:#eee;
		border:solid 1px #333;
		padding:10px;
		margin-top:4px;
		z-index:999;
		border-top:solid 5px #575;
	}

	div.boxListAction input[type=text], div.boxListAction select
	{
		margin:6px 4px 0 0;
	}
	
	div.boxListAction input[type=submit]
	{
		margin:6px 4px 0 0;
		width:100px;
	}
	
	div#divSaveList
	{
	}

	div#divExportList
	{
	}

	/** Navigable Menu Content/Pages **/
	
	div#nmmain
	{
		padding:0 0 16px 196px;
	}
	
	div#nmleft
	{
		float:left;
		width:170px;
		margin-bottom:8px;
	}

	div#nmleft_h
	{
		padding:8px 8px 0 8px;
		margin-bottom:4px;
		line-height: 1.6em;
		font-weight:bold;
		border:solid 1px #ddd;
	}
	
	div#nmleft_h div
	{
		color:#274;
	}
	
	div#nmleft_h div a, div#nmleft_h ul li a
	{
		display:block;
		color:#000;
		text-decoration:none;
	}
	
	div#nmleft_h div a:hover, div#nmleft_h ul li a:hover
	{
		background-color:#ddd;
	}
	
	div#nmleft_h ul li
	{
		background-image:none;
		padding-left:8px;
		color:#274;
	}

	div.nmt {
		font-weight:bold;
		font-size:1.2em;
		text-transform:uppercase;
		padding-bottom:8px;
	}
	
	/** Media items **/
	
	div.md0t {
		background-color:#e1ffe1;
		padding:12px 8px 0 16px;
		margin-top:8px;
		font-weight:bold;
		font-size:1.2em;
	}
	
	div.md0 {
		padding:12px;
		margin-bottom:8px;
		background-color:#e1ffe1;
	}
	
	div.md0 > div.mdi {
		display:block;
		width:31%;
		padding:0 1%;
		float:left;
		background-color: none;
	}
	div.md0 > div:nth-of-type(3){
	}
	div.mdi div:first-of-type {
		text-align: center;
		margin: 10px 0;
	}
	div.mdi div:first-of-type a img {
		height: 135px;
		text-align: center;
	}
	div.mdi > a.bucketTitle {
		height: 40px;
		line-height: 40px;
		font-size: 1.0em;
	}
	div.mdi > a.bucketTitle span {
		display: inline-block;
		vertical-align: middle;
		line-height: 20px;
	}
	div.mdi > a img{
		height: 135px;
	}
	div.md1 {
		padding:12px;
		margin-bottom:8px;
	}

	div.md1 > div.mdi {
		display:block;
		width:32%;
		padding:0 4px;
		float:left;
	}
	
	div.mda {
		font-weight:bold;
		margin:10px 0 2px 0;
	}
	
	div.mdi > a {
		font-weight:bold;
	}
	
	div.mdi li {
		margin-left:8px;
	}
	
	div.mdi li img {
		vertical-align:middle;
		padding:0 0 6px 6px;
	}
	
	/* FAQ Styles */
	
	.FAQNav.fixed {
		position: fixed;
		width: 192px;
		top: 20px;
	}
	
	/*
	.FAQNav {
		border: 1px solid #efefef;
		padding: 1em;
	}
	
	.FAQNav h2 {
		font-size: 1.2em;
		font-weight: bold;
		color: #000;
		margin-bottom: 1em;
	}
	
		.FAQNav ul {
		list-style-type: none;
		padding-left: 10px;
	}
	
	.FAQNav ul li {
		margin-bottom: 10px;
	}
	
	.FAQNav ul li a {
		font-size: 1.2em;
		font-weight: bold;
		color: #000;
		text-decoration: none;
	}
	
	.FAQNav ul li a:hover {
		color: #575;
	}

	div.FAQgroup {
		padding-bottom: 10px;
	}
	
	h2.FAQHead {
		color: #333;
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 10px 0;
		padding-bottom: 5px;
	}
	
	h2.FAQHead:first-of-type {
		margin-top: 20px;
	}
	*/

	a.toggleClear {
		float: right;
		text-decoration: underline;
	}
		
	a.toggleClear:hover {
		cursor: pointer;
	}

	
	div.toggleBlock {
		border: 2px solid #efefef;
		border-radius: 2px;
		padding: 0;
		margin-bottom: 1em;
		box-shadow: 2px 2px 2px rgba(80, 80, 80, .15);
	}
	div.toggleBlock h3:hover {
		cursor: pointer;
	}
	
	div.toggleBlock h3 {
		font-size: 1em;
		margin-top: 0;
		margin-bottom: 0;
		padding: .75em 40px .75em 1em;
		background: url("../img/toggleClosed.png") no-repeat right 10px center;
		line-height: 1.3em;
	}
	
	div.toggleBlock.openBlock h3 {
		border-bottom: 2px solid #efefef;
		background: url("../img/toggleOpen.png") no-repeat right 10px center;
	}
	
	div.toggleBlock p {
		line-height: 1.3em;
		padding: 1em;
		font-size: .9em;
		display: none;
	}
	div.toggleBlock p a img {
		margin-right: 3px;
	}
	div.toggleBlock ul {
		padding-left: 2em;
		margin: .5em 0;
		list-style-type: none;
	}
	div.toggleBlock ul li::before {		
		content: "\2022";
		color: #575;
		font-weight: bold;
		display: inline-block;
		width: 1em;
		margin-left: -1em;
	}
	div.toggleBlock ul li {
		margin-bottom: .5em;
		font-size: .9em;
		line-height: 1.3em;		
	}
	
	div.toggleBlock iframe {
		margin: 0 0 1em 1em;
	}
	
	div.toggleBlock iframe, div.toggleBlock ul, div.toggleBlock iframe {
		display: none;
	}
	
	div.toggleBlock.openBlock iframe, div.toggleBlock.openBlock  ul, div.toggleBlock.openBlock  iframe, div.toggleBlock.openBlock p {
		display: block;
	}
	
}

@media all and (max-width: 1020px) {
	div.md0, div.md1{		
		width:100%;
		margin: 0 auto 20px auto;
		padding:0 0 20px 0;
	}	
	div.md0t {
		width: 100%;
		padding: 20px 0;
		margin: 0;
	}
	div.md0t p {
		width: 600px;
		margin: 0 auto;
		padding: 0;
	}
	
	div.md0 > div.mdi, div.md1 > div.mdi {
		display:block;
		margin: 0 auto 10px auto;
		width: 600px;
		float:none;
		background-color: none;
		font-size: 1.2em;
	}
	div.md0 > div.mdi iframe, div.md1 > div.mdi iframe {
		width: 600px;
		height: 338px;
		margin: 0 auto;
	}
	div.mdi div:first-of-type a img {
		height: 300px;
		text-align: center;
	}
}
@media all and (max-width: 1000px) 
{
	div#actionbar {
		padding: 0 20px;
		width: 100px;
		float: right;
		text-align: right;
	}
		div#actionbar a {
			display: block;
			margin-bottom: 3px;
		}

}

@media all and (max-width: 907px) {
	
	div#main {
		padding: 10px 0;
	}
	
	div#logo{
		clear: right;
		width: 200px;
		margin: 0 auto 16px auto;
		padding: 0 0 16px 0; 
		float: none;
		text-align: center;
	}
		div.index div#logo{
			width: 313px;
		}
		
		div#logo img {
			margin-top: 0;
			height: 61px;
		}
			div.index div#logo img {
				height: auto;
			}
	
	div#r {
		padding: 10px 0;
	}
	
	div#sbar{
		float: none;
	}
	div#sopt{
		/* margin-bottom: 20px; WL 2014/04 */
		margin-bottom: 8px;
	 	text-align: center;
	}
	div#sopt label img {
		vertical-align: middle;
	}
	
	div#details {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	div#ftr div {
		display: block;
		float: none;
		margin: 5px auto;
		text-align: center;
	}
}
@media all and (max-width: 840px) {
div.md0t p {
		width: 500px;
		margin: 0 auto;
		padding: 0;
	}
	
	div.md0 > div.mdi,  div.md1 > div.mdi  {
		display:block;
		margin: 0 auto;
		width: 500px;
		float:none;
		background-color: none;
		font-size: 1.2em;
	}
	div.md0 > div.mdi iframe, div.md1 > div.mdi iframe {
		width: 500px;
		height: 282px;
		margin: 0 auto;
	}
}


@media all and (max-width: 760px) {
div.md0t p {
		width: 300px;
		margin: 0 auto;
		padding: 0;
	}
	
	div.md0 > div.mdi,  div.md1 > div.mdi  {
		display:block;
		margin: 0 auto 10px auto;
		width: 300px;
		float:none;
		background-color: none;
		font-size: 1.2em;
	}
	div.md0 > div.mdi iframe, div.md1 > div.mdi iframe {
		width: 300px;
		height: 169px;
		margin: 0 auto;
	}
}
